
@import url(http://fonts.googleapis.com/css?family=Lato:300);
* {margin:0;padding:0;box-sizing:border-box;}

body {
	background: url("images/neworleans.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 75vh;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:16px;
}

nav {
	float: right;
	margin: 10px;
}

nav a {
	color: #000;
	margin: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
}

a {
	color: #191970;
	text-decoration: none;
}

a:hover {
	color: #DFC12A;
}

section { 
	margin: 0;
}

#bar {
	background-color: #FDF5E6;
	margin: 0;
	opacity: .95;
	padding: 15px 20px;
}

h1 {
	color: #191970;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	margin-bottom: 5px;
}

#name {
}

#slogan {
	font-family: #;
	font-style: italic;
}

h2 {
	color: #191970;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	margin-top: 5px;
	text-align: center;
	text-transform: uppercase;
}

#info {
	background-color: rgba(253,245,230,.95);
	float: left;
	margin: 39em 0 0 0;
	opacity: 1;
	padding: 20px 20px 10px 20px;
}

.boxes {
	background-color: #FFF;
	display: inline-block;
	float: left;
	height: 18em;
	margin: 5px;
	padding: 2em;
	width: 49%;
}

img {
	display: block;
	height: 2.8em;
	margin: auto;
}

#other {
	background-color: rgba(253,245,230,.95);
	clear: both;
	margin: 0;
	opacity: 1;
	padding: 10px 20px 20px 20px;
	text-align: center;
}

p {
	margin: 10px 0;
}

