
* {margin:0;padding:0;box-sizing:border-box;}

body {
	background: url("images/neworleans.jpg") no-repeat;
	background-size: cover;
	color: #000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
}

nav {
	float: right;
	margin: 20px 10px;
}

nav a {
}

section { 
}

#bar {
	background-color: #FDF5E6;
	margin: 0;
	opacity: .95;
	padding: 20px;
}

#name {
}

#about {
	background-color: #FDF5E6;
	margin: 10px 0;
	opacity: .95;
	padding: 20px;
}

#other {
	background-color: #FDF5E6;
	margin: 10px 0;
	opacity: .95;
	padding: 20px;
}

footer {
	text-align: center;
}
