
@media only screen and (min-width: 745px) and (max-width: 890px) {
	nav {
		display:none;
	}
	.mobile-nav {
		display:block;
	}
	h1 {
		text-align: center;
	}
	h3 {
		font-size: .9em;
	}
	p {
		font-size: 1em;
	}
	#slogan {
		text-align: center;
	}
	.boxes, .jobs, .school {
		float: none;
		margin: 2em auto;
		min-height: 15em;
		padding: 2em;
		position: relative;
		width: 90%;
	}
}

@media only screen and (min-width: 660px) and (max-width: 744px) {
	nav {
		display:none;
	}
	.mobile-nav {
		display:block;
	}
	h1 {
		text-align: center;
	}
	h3 {
		font-size: .9em;
	}
	p {
		font-size: 1em;
	}
	#slogan {
		text-align: center;
	}
	.boxes, .jobs, .school {
		float: none;
		margin: 1.5em auto;
		min-height: 15em;
		padding: 2em;
		position: relative;
		width: 90%;
	}
}

@media only screen and (max-width: 659px) {
	header {
		background:;
	}
	nav {
		display:none;
	}
	.mobile-nav {
		display:block;
	}
	h1 {
		text-align: center;
	}
	h3 {
		font-size: .9em;
	}
	p {
		font-size: 1em;
	}
	#slogan {
		text-align: center;
	}
	.boxes, .jobs, .school {
		float: none;
		margin: 1.5em auto;
		min-height: 15em;
		padding: 2em;
		position: relative;
		width: 90%;
	}
}

