* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #282828;
	color: #FDF5E6;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
}
section { 
}
#mainimage {
	background: url("images/background.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
}
#mainimage img {
	display:block;
	margin:auto;
	width: 300px;
}
#about {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 10px;
}
#list {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 25px;
	margin-bottom: 10px;
}
#contact { 
	margin: 25px;
}
#contact a{
	display:block;
}
h1 {
	font-size: 2em;
	padding-top: 150px;
	text-align: center;
}
h2 {
	font-size:1.3em;
}
#slogan {
	font-style: italic;
	text-align: center;
}
